@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(19, 21, 32);
  font-size: 21px;
}

.active-section{
  border-bottom: 2px solid rgb(65, 194, 123) ;
}

.table-row{
  border: 2px solid white;
}

.btn-add:hover{
  background-color: rgba(30, 148, 222, 0.671);
  cursor: pointer;
}

.btn-add-item{
  background-color: rgb(19, 21, 32);
  border: 2px solid grey
}
.btn-add-item:hover{
  background-color: rgb(19, 88, 51);
}