@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(18, 21, 33);
  font-size: 21px;
}
.dashboard-container{
  color:white !important;
  background-color: rgb(22, 26, 43);
  border-radius: 13px;
  padding: 1%;
}
.active-section{
  border-bottom: 2px solid rgb(65, 194, 123) ;
}

.table-row{
  border: 2px solid white;
}


.tab-option:hover{
  cursor: pointer;
}

.btn-add{
  border-radius: 8px;
  border: 2px solid rgb(70, 70, 80,180);
}

.btn-add:hover{
  background-color: rgba(30, 148, 222, 0.671);
  cursor: pointer;
}

.hover-blue-text:hover{
  background-color: rgba(120, 120, 120, 0.671);
  color: rgb(0, 16, 82);
  cursor: pointer;
}

.btn-close:hover{
  color: rgba(222, 30, 40, 0.671);
  cursor: pointer;
}


.btn-minus, .btn-plus{
  border-radius: 10px;
  text-align: center;
  width:30px;
}

.btn-minus:hover, .btn-plus:hover{
  cursor: pointer;
}

.btn-minus{
  background-color: rgba(30, 148, 222, 0.671);
}

.btn-plus{
  background-color: green;
}


.btn-add-item{
  background-color: rgb(19, 21, 32);
  border: 2px solid grey
}
.btn-add-item:hover{
  background-color: rgb(19, 88, 51);
}

.row-text-block:hover{
  background-color: rgb(19, 88, 51);
  margin-bottom: 7px;
}

.row-text-block > span:hover{
  text-decoration: underline;
}

.calendar {
  width: 321px;
  margin: 0 auto;
  border: 1px solid  rgb(30,150,222,80);
  border-radius: 10px;
  font-family: sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.prev-month,
.next-month {
  cursor: pointer;
}

.month-year {
  font-weight: bold;
}

.calendar-body {
  padding: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
}

.weekdays span {
  display: block;
  width: 36px;
  text-align: start;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  font-size: 17px;

}

.days span {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd86;
  border-radius: 3px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  padding: 3px;
  margin-right: 2px
}

.today {
  background-color: #ddd;
}

/* .btn-edit{
  width: 36px;
  height: 36px;
}

.btn-delete{
  width: 36px;
  height: 36px;
} */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color:white;
}

.modal {
  background-color: #fff;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(241, 241, 247, 0.25);
  width: 60%;
  max-height:80%;
  background-color: rgb(0, 43, 70);
  color:white;
  overflow-y: scroll;
}

.modal-backdrop {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(5px); 
  pointer-events: none; 
  /* z-index: -1000; */
}

.goal-progress-bar-container{
  border: 3px solid rgba(222,222,222,0.5);
  border-radius: 10px;
}

.goal-progrees{
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
}

.total-card{
  border: 2px solid rgba(222,222,222,0.5); 
  padding:1rem;
  border-radius: 10px 
}